name: Update Data
on:
  schedule:
    # “At minute 7 past hour 4, 7, 10, 13, and 16.” 
    # 4:00, 7:00,  10:00, 13:00, 16:00 UTC
    # 9:30, 12:30, 15:30, 18:30, 21:30 IST
    # https://crontab.guru/#7_4,7,10,13,16_*_*_*
    - cron: '7 4,7,10,13,16 * * *'
jobs:
  update:
    name: Update data
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}
    - name: Update data
      run: |
        curl --request GET --url 'https://prod.plugo.io/api/v2/goblin/stores?lat=18.46448805396234&lng=72.12753139436244&radius=90999999' --header 'Authorization: Bearer ${{secrets.token}}' > _data/plugo.json
        export VERSION=`date +%Y.%-m.%-d`
        sed -i "s/^version.*/version: $(VERSION)/" CITATION.cff
        sed -i "s/^date-released.*/date-released: `date --rfc-3339=date`/" CITATION.cff
    # TODO: Add tag for date as well
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update Plugo Data
        commit_author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
